SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=*

DB_NAME=staffcheck
DB_USER=postgres
DB_PASS=yourpassword
DB_HOST=localhost
DB_PORT=5432

CORS_ORIGINS=http://localhost:3000,http://localhost:5173

TELEGRAM_BOT_TOKEN=8224034084:AAGWIDEIARGrL5lyPc8TMpjOroKvwSxifLk
