# Django
SECRET_KEY=django-insecure-change-this-to-random-string-in-production
DEBUG=True
ALLOWED_HOSTS=*

# PostgreSQL
DB_NAME=staffcheck
DB_USER=postgres
DB_PASS=yourpassword
DB_HOST=localhost
DB_PORT=5432

# CORS - Frontend manzilini yozing
# Local uchun:
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
# Railway + Vercel uchun:
# CORS_ORIGINS=https://your-frontend.vercel.app

# Telegram Bot
TELEGRAM_BOT_TOKEN=8224034084:AAGWIDEIARGrL5lyPc8TMpjOroKvwSxifLk
